.footer {
  background-color: #c01010;
  color: #fff;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-about,
.footer-links,
.footer-social {
  flex: 1;
  min-width: 250px;
}

.footer-about h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #220ac2;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-links h4,
.footer-social h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0da713;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  color: #430505;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #04a982;
}

.footer-social p {
  font-size: 14px;
  margin-bottom: 10px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #cc13a7;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00aced;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #bc1616;
  font-size: 14px;
  color: #04d5a1;
}
