

.title-container {
  text-align: center;
  margin: 2rem 0;
  padding: 0 1rem;
}

.title-main {
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title-subtext {
  font-size: 1rem;
  color: #777;
  margin-top: 0.5rem;
}

.title-underline {
  width: 80px;
  height: 4px;
  background-color: #ff6f61;
  margin: 0.8rem auto 0;
  border-radius: 2px;
}
